<!DOCTYPE html>
<html lang="es">
<head>
    <!--NOTA: para poder ver la imgen de este se necesita el jvscr-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TiendApp - Carrito de compra</title>
    <link rel="stylesheet" href="css/carrito_de_compra.css">
</head>
<body><section id="carrito-section" class="page-section" style="display: none;">
    <div class="card">
        <h2>🛒 Carrito de Compras</h2>
        <ul id="lista-carrito">
            </ul>
        <div class="total-carrito">
            <h4>Total: $<span id="total-monto">0.00</span></h4>
        </div>
        <div class="botones-carrito">
            <button id="boton-vaciar-carrito" class="btn-config">Vaciar Carrito</button>
            <button id="boton-pagar" class="btn-config">Proceder al Pago</button>
        </div>
    </div>
</section>