<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="02-css/configuracion.css">
    <title>condiguracion</title>
</head>
<!--para la barra lateral-->
<body>
<div class="side-bar">
  <div class="logo"> TiendApp</div>
  <a href="#" class="nav-link">Admin Dashboard</a>
  <a href="#" class="nav-link">Compras</a>
  <a href="#" class="nav-link">Ventas</a>
  <a href="#" class="nav-link">Créditos</a>
  <a href="#" class="nav-link">Inventario</a>
  <a href="#" class="nav-link">Calificación</a>
  <a href="#" class="nav-link">Reportes</a>
  <a href="#" class="nav-link active">Configuración</a>
  <a href="#" class="nav-link">Ayuda</a>
  <a href="#" class="nav-link">Cerrar sesión</a>
</div>
<!--para la barra superior-->
<div class="topbar">
  <div class="profile">
    <span>Administrador</span>
    <span class="perfil">Perfil</span>
    <!--<div class="avatar"></div>-->
  </div>
</div>
<!--para contenido central-->
<div class="content">
  <h1>Configuración</h1>
  <div class="card">
    <span> Idioma</span>
    <span class="value">Español ►</span> <!-- alt+16, otra cosa que me costó más de lo esperado-->
  </div>
  <div class="card">
    <span> Moneda</span>
    <span class="value">Peso (Col) ►</span>
  </div>
  <div class="card">
    <span> Modo oscuro</span>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <div class="card">
    <span> Notificaciones</span>
    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider"></span>
    </label>
  </div>
</div>
</body>
</html>