<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="../CSS/csslogin.css">
  <title>TIENDAPP - Login</title>
  <script src="../js/funciones.js"></script>
</head>
<body>

  <div class="contenedor">
      <h1>login</h1>

      <form id="loginForm" >
        <div class="field">
          <div class="left">Tipo de ingreso</div>
          <div class="input-wrap">
            <select aria-label="Tipo de ingreso" id="tipoIngreso" name="tipoIngreso">
              <option value="usuario">USUARIO</option>
              <option value="admin" selected>ADMIN</option>
            </select>
          </div>
        </div>

        <div class="field">
          <div class="left">Usuario</div>
          <input type="text" id="usuario" name="usuario" >
          </div>
        

        <div class="field">
          <div class="left">Contraseña</div>
            <input type="password" id="contraseña" name="contraseña" >
          </div>
        


        <div class="btn-container">
          <button type="submit">Iniciar Sesión</button>
          <button type="button" onclick="window.location.href='registro.html'">Registrarse</button>
        </div>

        
        <a href="olvidaste.html">¿Olvidaste tu contraseña?</a>
        

        <div class="meta">Versión 0.0.0 | Derechos Reservados 2025</div>
      </form>
</div>

</body>
</html>
