<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link rel="stylesheet" href="../static/assets/css/olvidasteus.css">
  <!-- <script src="../static/assets/js/scriptlogin.js"></script> -->

</head>

<body>
  <div class="contenedor">
    <h2>Recuperar Contraseña</h2>

    <form>
      <label for="email">Correo Eletrónico</label>
      <input type="email" id="email" placeholder="">

      <div class="botones">
        <button type="submit" class="btn enviar">Enviar</button>
        <button type="submit" class="btn cancelar" formaction="{{url_for('login')}}">Cancelar</button>
      </div>
    </form>

    <p class="registro">
      ¿No tienes cuenta? <a href="{{url_for('registro')}}">Regístrate aquí.</a>
    </p>

    <footer>
      Versión 0.0.0 | Derechos Reservados 2025
    </footer>
  </div>
</body>

</html>