<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/registro-SA.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>Registro - TiendApp</title>
</head>
<body>
  <div id="container">
    <h1 id="h1">Registro</h1>
    <form>
      <div class="field">
        <div class="left">Nombres y Apellidos</div>
        <input  id="nombre" type="text" required>
      </div>

      <div class="field">
        <div class="left">ID</div>
        <input id="ID" type="text" required>
      </div>

      <div class="field">
        <div class="left">Teléfono</div>
        <input id="telefono" type="tel" required>
      </div>
      <div class="field">
        <div class="left">Correo</div>
        <input id="correo" type="email" required>
      </div>

      <div class="field">
        <div class="left">Contraseña</div>
        <input id="contraseña" type="password" required>
      </div>

      <div class="field">
        <div class="left">Confirmar contraseña</div>
        <input id="confirmarContraseña" type="password" required>
      </div>


      <div id="boton">
        <button type="submit" id="submit">Registrar administrador</button>
      </div>
    </form>
    
    <div class="footer">
      Versión 0.0.0 | Derechos Reservados 2025
    </div>
  </div>
</body>
</html>

